<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Saved Favorites</title>
  <link rel='stylesheet' href='/css/normalize.css'>
  <link rel='stylesheet' href='/css/main.css'>
</head>
<body>
  <h1>Welcome <%= user.firstName %>!</h1>
    <a href="/generator">SEARCH</a>
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>

<div class='saved'>
  <% for( let i = 0; i < favorites.length; i++){%>
    <div class='savedData'>
      <h2><%= favorites[i].Name %></h2>
      <h4><%= favorites[i].movie %></h4>
      <h4><a href='<%= favorites[i].recipe %>'><%= favorites[i].recipe %></a></h4>
      <br>
      <form class='delete-favorite' action='saved/<%= favorites[i]._id %>?_method=DELETE' method='post'>
      <input type='submit' name='name' value='Delete'>
      </form>
    </div>
  <% }; %>
</div>

</body>
</html>
